@model IList<UsersViewModel>

@{
    ViewData["Title"] = "Home";
}

<h1>Users</h1>

<form method="post">
    <div class="row toolbar">
        <div class="col-md-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <button type="submit" class="btn btn-light" asp-action="Block">
                        <i class="fa-solid fa-lock"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-light" asp-action="UnBlock">
                        <i class="fa-solid fa-lock-open"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-light" asp-action="Delete">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="table-dark align-items-center">
                    <tr>
                        <th>
                            <input type="checkbox" name="allcheck" id="selectAll" /> Select All
                        </th>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Registration Date</th>
                        <th>Login Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model?.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model[i].IsSelected.Value" />
                                <input asp-for="@Model[i].IsSelected.Selected" />
                                <input type="hidden" asp-for="@Model[i].Id" />
                            </td>
                            <td>@Model[i].Id</td>
                            <td>@Model[i].FullName</td>
                            <td>@Model[i].Email</td>
                            <td>@Model[i].RegistrationDate</td>
                            <td>@Model[i].LoginDate</td>
                            <td>@Model[i].Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

